

/*.center {*/
/*    position:absolute;*/
/*    left:50%;*/
/*    top:50%;*/
/*    transform:translate(-50%, -50%);*/
/*}*/

input[type="checkbox"] {
    /*margin:10px;*/
    position:relative;
    display: inline-block;
    width:58px;
    height:20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #4f0d0d, #ea0606);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #ef0909, 0 0 0 5px #ef0909, inset 0 0 10px rgb(246, 7, 7);
}

input:checked[type="checkbox"]:nth-of-type(1) {
    background: linear-gradient(0deg, #1d470e, #60ee07);
    box-shadow: 0 0 0 4px #43ee05, 0 0 0 5px #05f109, inset 0 0 10px rgb(110, 229, 5);
}



input[type="checkbox"]:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background: linear-gradient(0deg, #f3f0f0, #f7f8fa);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98,.96);
    transition:.5s;
}

input:checked[type="checkbox"]:before {
    left:40px;
}

input[type="checkbox"]:after{
    content:'';
    position:absolute;
    /*top:calc(50% - 2px);*/
    /*left:70px;*/
    /*width:1px;*/
    /*height:1px;*/
    /*background: linear-gradient(0deg, #6b6b6b, #000);*/
    /*border-radius: 50%;*/
    /*transition:.5s;*/
}

/*input:checked[type="checkbox"]:after {*/
/*    left:110px;*/
/*}*/

